.venv/

__pycache__/
*.pyc

.cache/
huggingface/

uploads/
reports/

dataset/train.csv
dataset/val.csv
dataset/test.csv

models/checkpoints/
models/logs/
datasets/
models/distilbert_fake_job/
*.safetensors
*.bin
upload.py